$dark-cyan: #0E8784;
$dark-grisbleu: #333D4B;
$light-cream: #FEFCF7;
$grey: #83888F;
$pale-orange: #FDD6BA;
@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fraunces:wght@900&display=swap');
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    font-family: 'Barlow', sans-serif; //for fontsize paragraph 16px 26px for navbar bold 12px 15px 
}
.container {
    width: 85%;
    margin: auto;
    height: 100%;
}
h2 {
    font-family: 'Fraunces', serif;
    font-size: 40px;
}
h3 {
    font-family: 'Fraunces', serif;
    font-size: 32px;    
}
h4 {
    font-family: 'Fraunces', serif;
    font-size: 24px;
}
ul {
    list-style: none;
}
a {
    text-decoration: none;
}
/**Start Home Page**/
/*Start header links*/
.header-links {
    width: 100%;
    padding-top: 2rem;
    margin-bottom: 2rem;
    .logo {
        cursor: pointer;
    }
    .hambIcon {
        display: none;
        cursor: pointer;
    }
    .close {
        display: none;
        cursor: pointer;
    }
    nav {
        display: flex;
        justify-content: space-between;
        align-items: center;
        .navbar {
            display: flex;
            flex-basis: 50%;
            .links {
                width: 100%;
                display: flex;
                justify-content: flex-end;
                li {
                    margin-left: 2rem;
                    a {
                        color: $grey;
                        text-transform: uppercase;
                        font-weight: bold;
                        font-size: 12px;

                    }
                }
            }
        }
    }
}
@media (max-width: 360px) {
    
    .header-links .hambIcon {
        display: initial;
    }
    .hambIcon.hidden {
        display: none;
    }
    .close.play {
        display: initial;
    }
    .header-links .navbar {
        display: none !important;
    }
    .navbar.show {
        display: initial ;
    }
    
}
/*End header links*/
/*Start landing*/
.landing {
    min-height: 93vh;
    background-image: url(../imgs/image-hero-coffeepress.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 10px;
    position: relative;
    .landing-home {
        text-align: left;
        transform: translateY(33%);
        p {
            color: white;
            &:nth-of-type(1) {
                font-size: 4.6rem;
                font-weight: bold;
                font-family: 'Fraunces', serif;
                margin-bottom: 2rem;
                line-height: 1;
            }
            &:nth-of-type(2) {
                font-size: 1rem;
                color: $light-cream;
                font-family: 'Barlow', sans-serif;
                margin-bottom: 3rem;
                line-height: 1.5;
                word-spacing: 2px;
            }
        }
        button {
            padding: 1rem;
                width: 13rem;
                border-radius: 5px;
                border: none;
                background-color: #0E8784;

            a {
                font-size: 1.1rem;
                font-family: 'Fraunces', serif ;
                color: #FEFCF7;
            }
            &:hover {
                background-color: #73f5f3;
                outline: none;
            }
        }
    }
}
/*End landing*/
/*Start collection*/
.collection {
    padding-bottom: 1rem;
    margin-bottom: 10rem;
    header {
        margin-top: 10rem;
        margin-bottom: 2rem;
        opacity: .15;
        h2 {
            font-family: 'Fraunces', serif;
            font-size: 11vw;
            color: $dark-grisbleu; 
            text-align: center;
        }
    }
    .collection-type {
        display: flex;
        justify-content: space-around;
        margin-top: -5.3rem;
        z-index: 5;
        position: relative;
        .coffe-type {
            width: 24%;
            text-align: center;
            .imag {
                width: 100%;
                margin-bottom: 4rem;
                img {
                    width: 14vw;
                }
            }
            .coffe-info {
                h3 {
                    font-size: 1.6rem;
                    color: $dark-grisbleu;
                    margin-bottom: 1.7rem;
                }
                p {
                    font-size: 1.3vw;
                    line-height: 1.5;
                }
            }
        }
    }
}
/*End collection*/
/*Start why us*/
.why-us {
    background-color: $dark-grisbleu;
    margin-bottom: 28vh;
    .choose-us {
        display: flex;
        flex-direction: column;
        .choose-info {
            color: #FEFCF7;
            text-align: center;
            margin-top: 5rem;
            padding: 2vw 18vw 0 18vw;
            h2 {
                font-size: 3rem;
                margin-bottom: 3rem;
            }
            p {
                font-size: 1.45vw;
                line-height: 1.7;
                font-family: 'Barlow', sans-serif;;
            }
        }
        .our-advantage {
            display: flex;
            justify-content: space-between;
            transform: translateY(154px);
            .advantage-detaile {
                width: 31%;
                background-color: #0E8784;
                color: #FEFCF7;
                text-align: center;
                padding: 3vw;
                border-radius: 10px;
                img {
                    width: auto;
                    height: 72px;
                    margin-top: 2vw;
                    margin-bottom: 4vw;
                }
                h4 {
                    font-size: 1.4rem;
                    margin-bottom: 1.4rem;
                }
                p {
                    font-size: 1.28vw;
                    line-height: 1.6;
                }
            }
        }
    }
}
/*End why us*/
/*Start how works*/
.how-works {
    margin-top: 26vw;
    padding-bottom: 2vw;
    margin-bottom: 6vw;
    .it-works {
        h2 {
            font-size: 2vw;
            color: $grey;
        }
        ul {
            display: flex;
            li {
                width: 33.333%;
                position: relative;
                &::before {
                    content: " ";
                    width: 30px;
                    height: 30px;
                    border: 2px solid #0E8784;
                    border-radius: 50%;
                    display: block;
                    margin: 5vw 0;
                    background-color: $light-cream;
                }
                &::after {
                    content: '';
                    position: absolute;
                    width: 100%;
                    height: 2px;
                    background-color: $pale-orange;
                    top: 50%;
                    left: -100%;
                    z-index: -1;
                }
                &:first-child::after {
                    content: none;
                }
            }
        }
        .steps {
            display: flex;
            justify-content: space-between;
            .steps-info {
                width: 28%;
                h3 {
                    margin-bottom: 2.4vw;
                    font-size: 2.9vw;
                    color: $dark-grisbleu;
                    &:first-child {
                        color: $pale-orange;
                        font-size: 5vw;
                    }
                }
                p {
                    font-size: 1.34vw;
                    line-height: 1.6;
                    text-align: left;
                    color: $dark-grisbleu;
                    margin-bottom: 3vw;
                }
            }
        }
        button {
            width: 16vw;
            height: 4vw;
            border-radius: 5px;
            border: none;
            background-color: $dark-cyan;
            color: white;
            font-size: 1.3vw;
            font-family: 'Fraunces', serif;
            font-weight: normal;
            font-family: 'Fraunces', serif;
            margin-top: 2vw;
            margin-bottom: 5vw;
        }
    }
}
/*End how works*/
/*Start footer*/
footer {
    background-color: $dark-grisbleu;
    .our-footer {
        display: flex;
        justify-content: space-between;
        .logo {
            filter: brightness();
            a {
                img {

                }
            }
        }
        .footer-links {
            ul {
                display: flex;
                justify-content: space-between;
                li {
                    a {
                        color: $light-cream;
                    }
                }
            }
        }
        .footer-social {
            display: flex;
            justify-content: space-between;
            p {
                a {
                    img {

                    }
                }
            }
        }
    }
}
/*Start footer*/


/**End Home Page**/
/********************************************************************************************************************************************/