@import url("https://fonts.googleapis.com/css2?family=Barlow:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Fraunces:wght@900&display=swap");
* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: 'Barlow', sans-serif;
}

.container {
  width: 85%;
  margin: auto;
  height: 100%;
}

h2 {
  font-family: 'Fraunces', serif;
  font-size: 40px;
}

h3 {
  font-family: 'Fraunces', serif;
  font-size: 32px;
}

h4 {
  font-family: 'Fraunces', serif;
  font-size: 24px;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

/**Start Home Page**/
/*Start header links*/
.header-links {
  width: 100%;
  padding-top: 2rem;
  margin-bottom: 2rem;
}

.header-links .logo {
  cursor: pointer;
}

.header-links .hambIcon {
  display: none;
  cursor: pointer;
}

.header-links .close {
  display: none;
  cursor: pointer;
}

.header-links nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header-links nav .navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
}

.header-links nav .navbar .links {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.header-links nav .navbar .links li {
  margin-left: 2rem;
}

.header-links nav .navbar .links li a {
  color: #83888F;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 12px;
}

@media (max-width: 360px) {
  .header-links .hambIcon {
    display: initial;
  }
  .hambIcon.hidden {
    display: none;
  }
  .close.play {
    display: initial;
  }
  .header-links .navbar {
    display: none !important;
  }
  .navbar.show {
    display: initial;
  }
}

/*End header links*/
/*Start landing*/
.landing {
  min-height: 90vh;
  background-image: url(../imgs/image-hero-coffeepress.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 10px;
  position: relative;
}

.landing .landing-home {
  text-align: left;
  position: absolute;
  top: 55%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  width: 100%;
}

.landing .landing-home p {
  color: white;
}

.landing .landing-home p:nth-of-type(1) {
  font-size: 5.6vw;
  font-weight: bold;
  font-family: 'Fraunces', serif;
  margin-bottom: 2rem;
  line-height: 1;
}

.landing .landing-home p:nth-of-type(2) {
  font-size: 1.2vw;
  color: #FEFCF7;
  font-family: 'Barlow', sans-serif;
  margin-bottom: 3rem;
  line-height: 1.5;
  word-spacing: 2px;
}

.landing .landing-home button {
  padding: 1rem;
  width: 13rem;
  border-radius: 5px;
  border: none;
  background-color: #0E8784;
}

.landing .landing-home button a {
  font-size: 1.1rem;
  font-family: 'Fraunces', serif;
  color: #FEFCF7;
}

.landing .landing-home button:hover {
  background-color: #73f5f3;
  outline: none;
}

/*End landing*/
/*Start collection*/
.collection {
  padding-bottom: 1rem;
  margin-bottom: 10rem;
}

.collection header {
  margin-top: 10rem;
  margin-bottom: 2rem;
  opacity: .15;
}

.collection header h2 {
  font-family: 'Fraunces', serif;
  font-size: 11vw;
  color: #333D4B;
  text-align: center;
}

.collection .collection-type {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin-top: -5.3rem;
  z-index: 5;
  position: relative;
}

.collection .collection-type .coffe-type {
  width: 24%;
  text-align: center;
}

.collection .collection-type .coffe-type .imag {
  width: 100%;
  margin-bottom: 4rem;
}

.collection .collection-type .coffe-type .imag img {
  width: 14vw;
}

.collection .collection-type .coffe-type .coffe-info h3 {
  font-size: 1.6rem;
  color: #333D4B;
  margin-bottom: 1.7rem;
}

.collection .collection-type .coffe-type .coffe-info p {
  font-size: 1.3vw;
  line-height: 1.5;
}

/*End collection*/
/*Start why us*/
.why-us {
  background-color: #333D4B;
  margin-bottom: 28vh;
}

.why-us .choose-us {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.why-us .choose-us .choose-info {
  color: #FEFCF7;
  text-align: center;
  margin-top: 5rem;
  padding: 2vw 18vw 0 18vw;
}

.why-us .choose-us .choose-info h2 {
  font-size: 3rem;
  margin-bottom: 3rem;
}

.why-us .choose-us .choose-info p {
  font-size: 1.45vw;
  line-height: 1.7;
  font-family: 'Barlow', sans-serif;
}

.why-us .choose-us .our-advantage {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-transform: translateY(154px);
          transform: translateY(154px);
}

.why-us .choose-us .our-advantage .advantage-detaile {
  width: 31%;
  background-color: #0E8784;
  color: #FEFCF7;
  text-align: center;
  padding: 3vw 3vw 4vw;
  border-radius: 10px;
}

.why-us .choose-us .our-advantage .advantage-detaile img {
  width: auto;
  height: 72px;
  margin-top: 2vw;
  margin-bottom: 4vw;
}

.why-us .choose-us .our-advantage .advantage-detaile h4 {
  font-size: 1.4rem;
  margin-bottom: 1.4rem;
}

.why-us .choose-us .our-advantage .advantage-detaile p {
  font-size: 1.28vw;
  line-height: 1.6;
  font-family: 'Barlow', sans-serif;
}

/*End why us*/
/*Start how works*/
.how-works {
  margin-top: 26vw;
  padding-bottom: 2vw;
  margin-bottom: 7vw;
}

.how-works .it-works h2 {
  font-size: 2vw;
  color: #83888F;
}

.how-works .it-works ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.how-works .it-works ul li {
  width: 33.333%;
  position: relative;
}

.how-works .it-works ul li::before {
  content: " ";
  width: 30px;
  height: 30px;
  border: 2px solid #0E8784;
  border-radius: 50%;
  display: block;
  margin: 5vw 0;
  background-color: #FEFCF7;
}

.how-works .it-works ul li::after {
  content: '';
  position: absolute;
  width: 100%;
  height: 2px;
  background-color: #FDD6BA;
  top: 50%;
  left: -100%;
  z-index: -1;
}

.how-works .it-works ul li:first-child::after {
  content: none;
}

.how-works .it-works .steps {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.how-works .it-works .steps .steps-info {
  width: 28%;
}

.how-works .it-works .steps .steps-info h3 {
  margin-bottom: 2.4vw;
  font-size: 2.9vw;
  color: #333D4B;
}

.how-works .it-works .steps .steps-info h3:first-child {
  color: #FDD6BA;
  font-size: 5vw;
}

.how-works .it-works .steps .steps-info p {
  font-size: 1.34vw;
  line-height: 1.6;
  text-align: left;
  color: #333D4B;
  margin-bottom: 3vw;
}

.how-works .it-works button {
  width: 16vw;
  height: 4vw;
  border-radius: 5px;
  border: none;
  background-color: #0E8784;
  color: white;
  font-size: 1.3vw;
  font-family: 'Fraunces', serif;
  font-weight: normal;
  font-family: 'Fraunces', serif;
  margin-top: 2vw;
  margin-bottom: 5vw;
  cursor: pointer;
}

.how-works .it-works button:hover {
  background-color: #73f5f3;
}

/*End how works*/
/*Start footer*/
footer {
  background-color: #333D4B;
  padding: 2.5vw 0;
  cursor: pointer;
}

footer .our-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

footer .our-footer .logo {
  fill: #fff;
}

footer .our-footer .footer-links {
  width: 45%;
}

footer .our-footer .footer-links ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

footer .our-footer .footer-links ul li {
  margin-right: 2vw;
}

footer .our-footer .footer-links ul li a {
  color: #83888F;
  font-size: .8vw;
  text-transform: uppercase;
  font-family: 'Fraunces', serif;
}

footer .our-footer .footer-social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 8vw;
}

footer .our-footer .footer-social p a img {
  width: 100%;
}

/*Start footer*/
/**End Home Page**/
/********************************************************************************************************************************************/
/********************************************************************************************************************************************/
/**************************************************************START ABOUT US PAGE********************************************************/
.presentation {
  background-image: url("../imgs/image-hero-whitecup.jpg");
  min-height: 75vh;
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 10px;
  position: relative;
  margin-bottom: 12vw;
}

.presentation .landing-about {
  text-align: left;
  position: absolute;
  top: 55%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  width: 100%;
}

.presentation .landing-about p {
  color: white;
}

.presentation .landing-about p:nth-of-type(1) {
  font-size: 3vw;
  font-weight: bold;
  font-family: 'Fraunces', serif;
  margin-bottom: 2rem;
  line-height: 1;
}

.presentation .landing-about p:nth-of-type(2) {
  font-size: 1.2vw;
  color: #FEFCF7;
  font-family: 'Barlow', sans-serif;
  margin-bottom: 3rem;
  line-height: 1.5;
  word-spacing: 2px;
}

/*satrt commitment*/
.commitment .commite {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.commitment .commite .img-commite {
  width: 45%;
}

.commitment .commite .img-commite img {
  width: 100%;
  border-radius: 24px;
}

.commitment .commite .info-commite {
  width: 45%;
}

.commitment .commite .info-commite h2 {
  font-family: 'Fraunces', serif;
  font-size: 4vw;
  color: #333D4B;
  margin-bottom: 3vw;
}

.commitment .commite .info-commite p {
  font-family: 'Barlow', sans-serif;
  color: #83888F;
  font-size: 1.15vw;
  line-height: 1.6;
}

/*End commitment*/
/*# sourceMappingURL=style.css.map */